.profileContainer {
    display: flex;
    align-items: center;
}

.profileContainer>img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
}

.profileContainer div {
    margin: 0 0 0 1.5rem;
}

.profileContainer div strong {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--title);
}

.profileContainer div p {
    font-size: 1rem;
    margin: 0.5rem 0 0 0;
}

.profileContainer div p img {
    margin: 0 0.5rem 0 0;
}